{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		QuizPortal
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="{% static 'css\dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\leaderboard.css' %}">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/dashboard">MMIL</a>
		<button onclick='signup()'>Sign Up</button>
		<button onclick="login()">Log In</button>
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href="#" class="about" onclick="changeactive()">About</a>
		</div>
		<div class="info-2">
			<a href='#' class="event" onclick="changeactive()">Events</a>
		</div>	
		<!-- <a href="#">About</a> -->
	</div>
	<div class="bottom">
		<div class="leaderboard">
		<div class="block">
			<div class="left">1.Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
	</div>
	</div>
</div>
<script src="H:\Project\quiz_portal_1\static\js\app.js"></script>
</body>
</html>