<!DOCTYPE html>
<html>
<head>
	<title>
		SignUp
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="{% static 'css\dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\signup.css' %}">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/dashboard">MMIL</a>
		<button class="signn" onclick="signup()">Sign Up</button>
		<button onclick="login()">Log In</button>
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href="#" class="about" onclick="changeactive()">About</a>
		</div>
		<div class="info-2">
			<a href='#' class="event" onclick="changeactive()">Events</a>
		</div>	
		<!-- <a href="#">About</a> -->
	</div>
	<div class="bottom">
		<div class="signupbox">
			<form>
				<input type="text" name="username" required="" placeholder="FULL NAMe">
				<input type="text" name="branch" required="" placeholder="Branch">
				<input type="text" name="year" required="" placeholder="Year">
				<input type="text" name="college" required="" placeholder="College">
				<input type="submit" name="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<script src="H:\Project\quiz_portal_1\static\js\app.js"></script>
</body>
</html>