.box {
	overflow: scroll;
}

.addevent{
	width: 40%;
	margin: 3% auto;
	background-color: white;
	padding: 5%;
	text-align: center;
	transition: 1s;
	font-family: mntl;
	font-size: 17.5px;
	/*display: flex;*/
}
.addevent:hover{
	box-shadow: 0 0 25px black;
}

.info{
	display: table-row;	/*padding: 10px;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
}


label{
	display: table-cell;
}
input{
	width: 90%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
	border:none;
	border-bottom: 2px solid black;
	outline: none;
	padding: 9%;
	/*font-size: 15px;*/
}
input[type="submit"]{
	width:25%;
	background-image: linear-gradient(to bottom,rgba(255,127,80,1),rgba(255,127,80,.7));
	cursor: pointer;
	font-family: mntl;
	font-weight: 600;
	transition:.5s;
	border:none;
	outline: none;
	padding:  2%;
	margin: 4.5%;
}
input[type="submit"]:hover{
	background-image: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.2)) !important;
	color:white;
}

/*input{
	display: block;
}*/

/*@media (max-width: 600px){
	.addevent {
		width: 40%;
	}

	input {
		width: 60%;
	}	

}*/

@media screen and (min-width: 200px) and (max-width: 768px){
	.addevent {
		width: 90%;
	}

	input {
		width: 70%;
	}
}


