.quiz {
	position: relative;
	display: block;
/*	position: relative;
*/	background-color: #f2f2f2;
	margin: 3% auto;
	width: 50%;
	padding: 2%;
	color: #737373;
	border-radius: 6px;
	border:1px solid #737373;
	text-align: center;
}

.about{
	position: absolute;
	right:calc(50% - 50px);
}

.btn1 {
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
}

.btn1:hover {
	color: #ff6600;
}

/*.center .info-1, .center .info-2 {
	display: inline-block;
}*/


.info-1 {
	position: absolute;
	left: 75%;
	margin-top: 13px;
}

.center .info-1 {
	float: right;
}

.info-1 button,.info-2 a{
	position: absolute;
	display: inline;
	text-decoration: none;
	color:black;
	font-size: 28px;
	/*top:90px;*/
	font-family: mntl;
}

h3 {
	color: black;
	margin-bottom: 3%;
	text-align: center;
	font-family: work sans;
	font-weight: 500;
}

p {
	font
	margin-bottom: 3%;
	color: #666666;
}

form {
	position: relative;
	text-align: center;
	margin-top: 8%;
	margin-bottom: 4%;
}

input {
	width: 50%;
	background-color: #cccccc;
	border: solid 1px #cccccc;
	padding: 1%;
}

.btn-secondary {
	display: block;
	background-color: #ff6600;
	border-color: #ff6600;
	margin: 1% auto 5% auto;
	width: 24%;
	font-family: work sans;
	font-weight: 500;
	font-size: 0.8em;
	color: white;
	padding: 1.5%;
	border-radius: 0.25rem;
}

.btn-secondary:hover {
	background-color: #ff944d;
}


::placeholder {
	color: #4d4d4d;
	text-align: center;
	font-family: work sans;
	font-weight: 500;
}

input[type=text]:focus{
  outline: 2px solid #cccccc;    
}


@media screen (max-width: 500px){
	.quizzes {
		overflow: hidden;
		overflow-y: scroll;
	}
	.quiz {
		/*width: 100%;*/
		width: 70%;
		margin-left: 15%;
	}
}


@media screen and (min-width: 270px) and (max-width: 700px){
	.quizzes {
		overflow: hidden;
		overflow-y: scroll;
	}
	.quiz {
		/*width: 100%;*/
		width: 90%;
		margin: 3% auto;
	}


}

@media(max-width: 500px){
	.top button{
	width:60px;
	}

	.info-1 {
	position: absolute;
	left: 75%;
	margin-top: 23px;
	}


	.info-1 .btn1,.info-2 a{
	font-size: 20px;
	}	
}