{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		SignUp
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="{% static 'css\dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\addevent.css' %}">
</head>
<body>
	<!--{% if bool %}
		<script type="text/javascript">
			alert("Wrong Sign up ID !!")
		</script>
	{% endif %}-->


	{% if exist %}
		<script type="text/javascript">
			alert("Username Exists !!")
		</script>
	{% endif %}
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/">MMIL</a>
		{% if request.user.is_authenticated %}
		<button class="button" onclick="logout()">Log Out</button></a>
		{% else %}
		<button onclick="login()">Log In</button>
		<button class="signn" onclick="signup()">Sign Up</button>
		{% endif %}
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href="/" class="">About</a>
		</div>
		<div class="info-1">
			<a href='/events' class="">Live Events</a>
		</div>	
		<div class="info-1">
			<a href='/contact' class="contact">contact</a>
		</div>
		<!-- <a href="#">About</a> -->
	</div>
<!-- 	<div class="bottom">
		<div class="signupbox">
			<form method="POST">
				{% csrf_token %}
				<input type="text" name="name" required="" placeholder="Event Name">
				<input type="text" name="description" required="" placeholder="Event Description">
				<input type="text" name="startdate" required="" placeholder="YYYY-MM-DD">
				<input type="text" name="starttime" required="" placeholder="HH:MM:SS">
				<input type="text" name="enddate" required="" placeholder="YYYY-MM-DD">
				<input type="text" name="endtime" required="" placeholder="HH:MM:SS">
				<input type="text" name="numques" required="" placeholder="eg:1,2,3,4">
				<input type="submit" name="submit" value="Submit">	
			</form>
		</div>
	</div> -->
	<div class="bottom">
		<div class="addevent">
			<form method="POST">
			{% csrf_token %}
			<div class="info">
				<label>Name of Event:</label>
				<input type="text" name="name" required="" />
			</div>
			<div class="info">
				<label>Description of Event:</label>
				<input type="text" name="description" required="" />
			</div>
			<div class="info">
				<label>Starting Date: </label>
				<input type="Date" name="startdate" required="" />
				<label>Ending Date:</label>
				<input type="Date" name="enddate" required="" />
				<!-- <label>Name</label><input type="text" name=""> -->
			</div>
			<div class="info">
				<label>Starting time:</label>
				<input type="time" name="starttime" required="" />
				<label>Ending time:</label>
				<input type="time" name="endtime" required="" />
				<!-- <label>Name</label><input type="text" name=""> -->
			</div>
				<input type="submit" name="submit" value="Submit">
			</form>	
		</div>
	</div>












</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>