{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Events
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css\dashboard.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css\login.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css\events.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap" rel="stylesheet">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/dashboard.html">MMIL</a>
		{% if request.user.is_authenticated %}
		<button onclick="logout()"class="button">Log Out</button>
		{% else %}
		<button onclick="login()">Log In</button>
		<button onclick="signup()">Sign Up</button>
		{% endif %}
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href='/' class="event" onclick="changeactive()">About</a>
		</div>
		<div class="info-2">
			<a href="/events" class="about" onclick="changeactive()">Events</a>
		</div>	
		<!-- <a href="#">About</a> -->
	</div>
	
	<div class="list">
	{% for i in eve %}	
	<div class="events">
		<div class="header">{{ i.event_name }}</div>
		<p>{{ i.event_description }}</p>
		<span class="new"><a href="#" class="links"><i class="fas fa-globe"></i></a><span class="links">{{ i.event_url }}</span></span>
		<form method="POST" action="/quiz/">
			{% csrf_token %}
			<div>
				<input type="submit" name="event_name" value="{{ i.event_name }}">
			</div>
		</form>
	</div>
	{% endfor %}

	<!--<div class="events">
		<div class="header">Event 2</div>
		<p>Un message logiciel derve indiquant qu'il s'est produit quelque chose.</p>
		<a href="#" class="links"><i class="fas fa-globe"></i></a><span class="links">http:///www.kmax.com/</span>
		<div><a href="/quiz"><button type="button" class="btn btn-secondary">Join Now</button></a></div>
	</div>
	<div class="events">
		<div class="header">Event 2</div>
		<p>Un message logiciel derve indiquant qu'il s'est produit quelque chose.</p>
		<a href="#" class="links"><i class="fas fa-globe"></i></a><span class="links">http:///www.kmax.com/</span>
		<div><a href="/quiz"><button type="button" class="btn btn-secondary">Join Now</button></a></div>
	</div>-->
</div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>