{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		QuizPortal
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" type="text/css" href="{% static 'css\dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\leaderboard.css' %}">
</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="/dashboard">MMIL</a>
		{% if request.user.is_authenticated %}
		<button onclick="logout()" class="button">LogOut</button>
		{% else %}
		<button onclick="login()">Log In</button>
		<button class="signn" onclick="signup()">Sign Up</button>
		{% endif %}
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href="#" class="about">{{ event_name }}</a>
		</div>
		<div class="info-1">
			<a href='/events' class="event">Events</a>
		</div>	
		<div class="info-1 active">
			<a href='/' class="leacerboard">leaderboard</a>
		</div>	
		<div class="info-1">
			<a href='/contact' class="contact">contact</a>
		</div>
		<!-- <a href="#">About</a> -->
	</div>
	<div class="bottom">
		<p>LeaderBoard</p>
		<div class="leaderboard">
		{% for i in list %}
		<div class="block">
			<div class="left">{{ i.participant }}</div>
			<div class="right">{{ i.points }}</div>
		</div>
		{% endfor %}
		<!--
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>
		<div class="block">
			<div class="left">1. Virat</div>
			<div class="right">125</div>
		</div>-->
	</div>
	</div>
</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>