{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Quizzes
	</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="events.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap" rel="stylesheet">
	</head>
<body>
<div class="box">
	<div class="top">
		<img src="/static/img/mmil_logo.jpg" width="50px"><a href="dashboard.html">MMIL</a>
		<button onclick="signup()">Sign Up</button>
		<button class="log" onclick="login()">Log In</button>
	</div>
	<div class="center">
		<div class="info-1 active">
			<a href='/leaderboard' class="event" onclick="changeactive()">Scores</a>
		</div>
		<div class="info-2">
			<a href="#" class="about" onclick="changeactive()">Event 1</a>
		</div>	
		<!-- <a href="#">About</a> -->
	</div>
	<div class="quizzes">
		<div class="quiz">
			<h3>Question 1</h3>
			<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</p>
			<form>
				<input type="text" name="answer" required="" placeholder="Your response">
			</form>
			<div><button type="button" class="btn btn-secondary">Submit</button></div>
		</div>
	</div>



</div>
</body>
</html>
